body{
    background-color: #0f1617;
    color: aliceblue;
}
.container{
max-width :1000px;

background-color: #11191a;
margin: 10px auto;
padding: 30px;
font-size: 25px;
line-height: 45px;
box-shadow: -12px -8px 40px rgba(22,41,43)inset;

display: flex;
}

.about{
    display: flex;
    justify-items: center;
align-items: center ;
width: 100%;
gap: 34px;
}

.profile-picture{
    width: 220px;
    height: 250px;
    border-radius: 50% ;
    object-fit: fill;
    background-color: #283739;
    
    
}

.profile-about{
    width: 600px;
    margin: 5px;
    padding: 20px;

}

p3{
    color: #788a8b;
   
}
       




.skills-gallery{
    display: grid;
    grid-template-columns:  repeat( 4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  max-width: 60%;
  margin: auto;

 
}

#icons{
    width: 100%;
    box-shadow: rgba(22, 41,24) 0px 3px 8px;
    padding: 20px;
    min-width: 50px;
    
}

@media (max-width: 1200px) {
    .skills-gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 900px) {
    .skills-gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .skills-gallery {
      grid-template-columns: 1fr; 
    }
  }


.heading{
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

h4{
    padding: 20px;
    
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: auto;
    
    
    
}

#project:hover{
transition: all 200ms ease-in-out ; 
opacity: 0.8;

}


figcaption{
    text-align: center;
    font-size: 20px;
    color: #65858a;
    line-height: 35px;
    font-size: 20px;
}

.project{
    width: 350px;
    border-radius: 3px
    
  
}


p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 60;
    color: aliceblue;
    

}

footer{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #233335;
    background-color: #ffffff;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
}
